.board {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
  border: 2px solid black;
  width: 480px;
  height: 480px;
  user-select: none;
}

.square {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  cursor: pointer;
}

.light {
  background-color: #eeeed2;
}

.dark {
  background-color: #769656;
}

.piece {
  pointer-events: none;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
